In [1]:
import pandas as pd

In [5]:
super_store_products = pd.read_excel('/Users/arthurspriet/Desktop/verticalized_products.xls')
super_store_products.tail()

                                            Product Name month  Sales
22087                    RCA ViSYS 25425RE1 Corded phone   Dec   1105
22088                       Cisco 8961 IP Phone Charcoal   Dec   1033
22089                        Eureka Hand Vacuum, Bagless   Dec    998
22090                                              LG G2   Dec   1471
22091  Eldon Jumbo ProFile Portable File Boxes Graphi...   Dec    831

In [8]:
#The syntax
#In the index parameter you put the columns you want to keep
#In the column paraeter you put the columns whose value you want to make into different columns 

#pivot 

dataset = super_store_products.pivot(index='Product Name',columns='month').reset_index()
dataset.head()

                                            Product Name Sales              \
month                                                      Apr   Aug   Dec
0      "While you Were Out" Message Book, One Form pe...   976   939  1092
1               #10 Gummed Flap White Envelopes, 100/Box  1121   922  1242
2                          #10 Self-Seal White Envelopes  1632  1574  1656
3             #10 White Business Envelopes,4 1/8 x 9 1/2  1132   959  1092
4                #10- 4 1/8" x 9 1/2" Recycled Envelopes   806   628   859


month   Feb   Jan   Jul   Jun   Mar   May   Nov   Oct   Sep
0       909   913   990  1015   916  1045  1055   971   951
1      1167  1172  1016  1008  1074  1094  1111  1077  1000
2      1477  1497  1641  1676  1535  1732  1654  1658  1649
3      1244  1196  1008  1020  1186  1081  1014   959   954
4       720   783   723   751   772   806   723   716   701

In [9]:
dataset[('Sales','Apr')]

0        976
1       1121
2       1632
3       1132
4        806
        ...
1836     865
1837     937
1838    1204
1839     782
1840    1328
Name: (Sales, Apr), Length: 1841, dtype: int64

In [10]:
super_store_products['Sales (k)'] = super_store_products['Sales']/1000
super_store_products.head()

                                        Product Name month  Sales  Sales (k)
0                  Bush Somerset Collection Bookcase   Jan   1077      1.077
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...   Jan   1177      1.177
2  Self-Adhesive Address Labels for Typewriters b...   Jan    802      0.802
3      Bretford CR4500 Series Slim Rectangular Table   Jan    983      0.983
4                     Eldon Fold 'N Roll Cart System   Jan   1136      1.136

In [11]:
super_store_products.pivot(index ='Product Name',columns ='month').reset_index().head()

                                            Product Name Sales              \
month                                                      Apr   Aug   Dec
0      "While you Were Out" Message Book, One Form pe...   976   939  1092
1               #10 Gummed Flap White Envelopes, 100/Box  1121   922  1242
2                          #10 Self-Seal White Envelopes  1632  1574  1656
3             #10 White Business Envelopes,4 1/8 x 9 1/2  1132   959  1092
4                #10- 4 1/8" x 9 1/2" Recycled Envelopes   806   628   859

                                           ... Sales (k)                       \
month   Feb   Jan   Jul   Jun   Mar   May  ...       Dec    Feb    Jan    Jul
0       909   913   990  1015   916  1045  ...     1.092  0.909  0.913  0.990
1      1167  1172  1016  1008  1074  1094  ...     1.242  1.167  1.172  1.016
2      1477  1497  1641  1676  1535  1732  ...     1.656  1.477  1.497  1.641
3      1244  1196  1008  1020  1186  1081  ...     1.092  1.244  1.196  1.008
4       720   783   723   751   772   806  ...     0.859  0.720  0.783  0.723


month    Jun    Mar    May    Nov    Oct    Sep
0      1.015  0.916  1.045  1.055  0.971  0.951
1      1.008  1.074  1.094  1.111  1.077  1.000
2      1.676  1.535  1.732  1.654  1.658  1.649
3      1.020  1.186  1.081  1.014  0.959  0.954
4      0.751  0.772  0.806  0.723  0.716  0.701

[5 rows x 25 columns]

In [46]:
superstore = pd.read_excel('/Users/arthurspriet/Desktop/Sample - Superstore-3.xls')
superstore.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [47]:
superstore.pivot_table(index='Category')
#Very similar to group by, also keep only the numerical values

,Discount,Postal Code,Profit,Quantity,Row ID,Sales
Category,,,,,,
Furniture,0.173923,55726.556341,8.699327,3.785007,5041.643564,349.834887
Office Supplies,0.157285,54890.951211,20.327050,3.801195,4980.175075,119.324101
Technology,0.132323,55551.572279,78.752002,3.756903,5003.331890,452.709276

In [48]:
superstore.pivot_table(index=['Category','Region']).reset_index()

,Category,Region,Discount,Postal Code,Profit,Quantity,Row ID,Sales
0,Furniture,Central,0.297380,65486.453222,-5.968918,3.798337,5198.831601,340.534644
1,Furniture,East,0.154077,17317.247920,5.068496,3.683860,4976.960067,346.574383
2,Furniture,South,0.121536,34552.117470,20.395199,3.888554,5019.783133,353.309289
3,Furniture,West,0.131400,91680.442716,16.272914,3.813296,4999.953324,357.302325
4,Office Supplies,Central,0.252743,65275.734880,6.244712,3.803797,5025.764416,117.458801
5,Office Supplies,East,0.142932,17401.548481,23.957114,3.774533,4926.139019,120.044425
6,Office Supplies,South,0.167437,34243.389950,20.086827,3.819095,5105.296482,126.282727
7,Office Supplies,West,0.093358,91769.716921,27.733183,3.813917,4929.139694,116.422377
8,Technology,Central,0.133095,65393.026190,80.231981,3.676190,4854.019048,405.753124
9,Technology,East,0.143364,18640.338318,88.714084,3.629907,4951.805607,495.278469
10,Technology,South,0.107850,35261.351536,68.231506,3.815700,5006.679181,507.753952
11,Technology,West,0.133890,91543.449082,73.962687,3.898164,5152.409015,420.687533

In [49]:
superstore.pivot_table(index=['Category','Region'],values=['Sales','Profit'])

                            Profit       Sales
Category        Region
Furniture       Central  -5.968918  340.534644
                East      5.068496  346.574383
                South    20.395199  353.309289
                West     16.272914  357.302325
Office Supplies Central   6.244712  117.458801
                East     23.957114  120.044425
                South    20.086827  126.282727
                West     27.733183  116.422377
Technology      Central  80.231981  405.753124
                East     88.714084  495.278469
                South    68.231506  507.753952
                West     73.962687  420.687533

In [50]:
superstore.pivot_table(index=['Category','Region'],values=['Sales','Profit'], aggfunc=['sum','mean'])

                                sum                    mean
                             Profit        Sales     Profit       Sales
Category        Region
Furniture       Central  -2871.0494  163797.1638  -5.968918  340.534644
                East      3046.1658  208291.2040   5.068496  346.574383
                South     6771.2061  117298.6840  20.395199  353.309289
                West     11504.9503  252612.7435  16.272914  357.302325
Office Supplies Central   8879.9799  167026.4150   6.244712  117.458801
                East     41014.5791  205516.0550  23.957114  120.044425
                South    19986.3928  125651.3130  20.086827  126.282727
                West     52609.8490  220853.2490  27.733183  116.422377
Technology      Central  33697.4320  170416.3120  80.231981  405.753124
                East     47462.0351  264973.9810  88.714084  495.278469
                South    19991.8314  148771.9080  68.231506  507.753952
                West     44303.6496  251991.8320  73.962687  420.687533

In [51]:
superstore.pivot_table(index=['Category','Region'],values=['Sales','Profit'], aggfunc={'Sales':'sum','Profit':'mean'})

                            Profit        Sales
Category        Region
Furniture       Central  -5.968918  163797.1638
                East      5.068496  208291.2040
                South    20.395199  117298.6840
                West     16.272914  252612.7435
Office Supplies Central   6.244712  167026.4150
                East     23.957114  205516.0550
                South    20.086827  125651.3130
                West     27.733183  220853.2490
Technology      Central  80.231981  170416.3120
                East     88.714084  264973.9810
                South    68.231506  148771.9080
                West     73.962687  251991.8320

In [52]:
superstore.pivot_table(index=['Category','Region'],values=['Sales','Profit'], aggfunc={'Sales':['sum','min'],'Profit':['mean','max']})

                            Profit             Sales
                               max       mean    min          sum
Category        Region
Furniture       Central   770.3520  -5.968918  1.892  163797.1638
                East     1013.1270   5.068496  2.960  208291.2040
                South     746.4078  20.395199  2.784  117298.6840
                West      629.0100  16.272914  3.480  252612.7435
Office Supplies Central  4946.3700   6.244712  0.444  167026.4150
                East     1453.1238  23.957114  0.852  205516.0550
                South    3177.4750  20.086827  1.167  125651.3130
                West     1906.4850  27.733183  1.080  220853.2490
Technology      Central  8399.9760  80.231981  1.980  170416.3120
                East     5039.9856  88.714084  2.970  264973.9810
                South    2799.9840  68.231506  1.584  148771.9080
                West     6719.9808  73.962687  0.990  251991.8320

In [53]:
superstore.pivot_table(index=['Category','Region'], aggfunc=['first','mean'])

                                   first                             \
                                    City        Country Customer ID
Category        Region
Furniture       Central       Richardson  United States    GH-14485
                East        Philadelphia  United States    SF-20065
                South          Henderson  United States    CG-12520
                West         Los Angeles  United States    BH-11710
Office Supplies Central       Fort Worth  United States    HP-14815
                East        Philadelphia  United States    TB-21520
                South    Fort Lauderdale  United States    SO-20335
                West         Los Angeles  United States    DV-13045
Technology      Central       Richardson  United States    GH-14485
                East               Dover  United States    LH-16900
                South          Charlotte  United States    JM-15250
                West         Los Angeles  United States    BH-11710

                                                                              \
                           Customer Name Discount Order Date        Order ID
Category        Region
Furniture       Central        Gene Hale      0.6 2016-12-08  CA-2016-117590
                East     Sandra Flanagan      0.3 2017-07-16  US-2017-156909
                South        Claire Gute      0.0 2016-11-08  CA-2016-152156
                West     Brosina Hoffman      0.0 2014-06-09  CA-2014-115812
Office Supplies Central    Harold Pawlan      0.8 2015-11-22  US-2015-118983
                East     Tracy Blumstein      0.7 2015-09-17  US-2015-150630
                South     Sean O'Donnell      0.2 2015-10-11  US-2015-108966
                West     Darrin Van Huff      0.0 2016-06-12  CA-2016-138688
Technology      Central        Gene Hale      0.2 2016-12-08  CA-2016-117590
                East      Lena Hernandez      0.0 2016-06-20  CA-2016-169194
                South       Janet Martin      0.2 2017-11-23  CA-2017-119004
                West     Brosina Hoffman      0.2 2014-06-09  CA-2014-115812

                                                      \
                        Postal Code       Product ID
Category        Region
Furniture       Central       75080  FUR-FU-10003664
                East          19140  FUR-CH-10002774
                South         42420  FUR-BO-10001798
                West          90032  FUR-FU-10001487
Office Supplies Central       76106  OFF-AP-10002311
                East          19140  OFF-BI-10000474
                South         33311  OFF-ST-10000760
                West          90036  OFF-LA-10000240
Technology      Central       75080  TEC-PH-10004977
                East          19901  TEC-AC-10002167
                South         28205  TEC-AC-10003499
                West          90032  TEC-PH-10002275

                                                                            \
                                                              Product Name
Category        Region
Furniture       Central  Electrix Architect's Clamp-On Swing Arm Lamp, ...
                East                    Global Deluxe Stacking Chair, Gray
                South                    Bush Somerset Collection Bookcase
                West     Eldon Expressions Wood and Plastic Desk Access...
Office Supplies Central  Holmes Replacement Filter for HEPA Air Cleaner...
                East     Avery Recycled Flexi-View Covers for Binding S...
                South                       Eldon Fold 'N Roll Cart System
                West     Self-Adhesive Address Labels for Typewriters b...
Technology      Central                                        GE 30524EE4
                East     Imation 8gb Micro Traveldrive Usb 2.0 Flash Drive
                South    Memorex Mini Travel Drive 8 GB USB 2.0 Flash D...
                West                        Mitel 5320 IP Phone VoIP phone

                         ...                                             \
                         ...  Ship Date       Ship Mode           State
Category        Region   ...
Furniture       Central  ... 2016-12-10     First Class           Texas
                East     ... 2017-07-18    Second Class    Pennsylvania
                South    ... 2016-11-11    Second Class        Kentucky
                West     ... 2014-06-14  Standard Class      California
Office Supplies Central  ... 2015-11-26  Standard Class           Texas
                East     ... 2015-09-21  Standard Class    Pennsylvania
                South    ... 2015-10-18  Standard Class         Florida
                West     ... 2016-06-16    Second Class      California
Technology      Central  ... 2016-12-10     First Class           Texas
                East     ... 2016-06-25  Standard Class        Delaware
                South    ... 2017-11-28  Standard Class  North Carolina
                West     ... 2014-06-14  Standard Class      California

                                          mean                           \
                        Sub-Category  Discount   Postal Code     Profit
Category        Region
Furniture       Central  Furnishings  0.297380  65486.453222  -5.968918
                East          Chairs  0.154077  17317.247920   5.068496
                South      Bookcases  0.121536  34552.117470  20.395199
                West     Furnishings  0.131400  91680.442716  16.272914
Office Supplies Central   Appliances  0.252743  65275.734880   6.244712
                East         Binders  0.142932  17401.548481  23.957114
                South        Storage  0.167437  34243.389950  20.086827
                West          Labels  0.093358  91769.716921  27.733183
Technology      Central       Phones  0.133095  65393.026190  80.231981
                East     Accessories  0.143364  18640.338318  88.714084
                South    Accessories  0.107850  35261.351536  68.231506
                West          Phones  0.133890  91543.449082  73.962687


                         Quantity       Row ID       Sales
Category        Region
Furniture       Central  3.798337  5198.831601  340.534644
                East     3.683860  4976.960067  346.574383
                South    3.888554  5019.783133  353.309289
                West     3.813296  4999.953324  357.302325
Office Supplies Central  3.803797  5025.764416  117.458801
                East     3.774533  4926.139019  120.044425
                South    3.819095  5105.296482  126.282727
                West     3.813917  4929.139694  116.422377
Technology      Central  3.676190  4854.019048  405.753124
                East     3.629907  4951.805607  495.278469
                South    3.815700  5006.679181  507.753952
                West     3.898164  5152.409015  420.687533

[12 rows x 25 columns]

In [54]:
import numpy as np

In [55]:
superstore.pivot_table(index=['Category','Region'],columns=['Segment'], aggfunc={'Sales':lambda x : np.max(x) - np.min(x)})

                             Sales
Segment                   Consumer  Corporate Home Office
Category        Region
Furniture       Central   2805.852   3503.008    1999.828
                East      4412.190   4401.940    2614.626
                South     4294.860   2270.788    2566.780
                West      3607.368   3387.400    2672.492
Office Supplies Central   9892.296   4163.494    3811.562
                East      4662.884   2933.142    4353.528
                South     6353.606   4162.883    1630.372
                West      8186.570   5082.772    4534.568
Technology      Central   8157.576  17497.970    1926.800
                East     10492.090   9096.960   11196.998
                South     8748.366   7997.604   22620.480
                West     13994.400   4792.824    4157.922

In [61]:
superstore = superstore.pivot_table(index=['Category','Region'],columns = ['Segment'],
                       values = ['Profit','Sales'],
                       aggfunc={'Sales':lambda x : np.max(x) - np.min(x),'Profit':['max','min']})

superstore

                            Profit                                    \
                               max                               min
Segment                   Consumer  Corporate Home Office   Consumer
Category        Region
Furniture       Central   770.3520   700.9800    580.5394  -566.5625
                East      609.7157  1013.1270    553.3902 -1665.0522
                South     422.5100   386.8350    746.4078 -1862.3124
                West      629.0100   610.8624    401.8140  -786.7440
Office Supplies Central  4946.3700   793.7160   1906.4850 -3701.8928
                East     1453.1238   843.1706   1415.4296 -1049.3406
                South    3177.4750  1276.4871    635.4950 -1237.8462
                West     1061.5722  1906.4850   1644.2913  -694.2936
Technology      Central   743.9880  8399.9760    829.3754 -1359.9920
                East     5039.9856  2365.9818   3919.9888 -6599.9780
                South    2799.9840  1459.2000    257.9871  -944.9946
                West     6719.9808  1480.4671   1379.9770  -251.9874

                                                    Sales             \
                                                 <lambda>
Segment                  Corporate Home Office   Consumer  Corporate
Category        Region
Furniture       Central  -430.6170   -525.6405   2805.852   3503.008
                East     -734.5264   -619.5960   4412.190   4401.940
                South    -968.8833  -1002.7836   4294.860   2270.788
                West     -465.5680   -814.4832   3607.368   3387.400
Office Supplies Central -2929.4845  -1143.8910   9892.296   4163.494
                East     -407.9760   -760.9800   4662.884   2933.142
                South   -1031.5385  -1306.5504   6353.606   4162.883
                West     -459.9875    -95.8230   8186.570   5082.772
Technology      Central  -509.9970    -87.6672   8157.576  17497.970
                East     -950.4000   -374.9925  10492.090   9096.960
                South   -3839.9904  -1811.0784   8748.366   7997.604
                West     -386.9570  -3399.9800  13994.400   4792.824



Segment                 Home Office
Category        Region
Furniture       Central    1999.828
                East       2614.626
                South      2566.780
                West       2672.492
Office Supplies Central    3811.562
                East       4353.528
                South      1630.372
                West       4534.568
Technology      Central    1926.800
                East      11196.998
                South     22620.480
                West       4157.922

In [39]:
#min profit for the segment home office 
Home_office = superstore.pivot_table(index=('Segment'),values = ['Profit'], aggfunc=['min'])
Home_office

                   min
                Profit
Segment
Consumer    -6599.9780
Corporate   -3839.9904
Home Office -3399.9800

In [41]:
superstore['Profit','min','Home Office']

Category         Region
Furniture        Central    -525.6405
                 East       -619.5960
                 South     -1002.7836
                 West       -814.4832
Office Supplies  Central   -1143.8910
                 East       -760.9800
                 South     -1306.5504
                 West        -95.8230
Technology       Central     -87.6672
                 East       -374.9925
                 South     -1811.0784
                 West      -3399.9800
Name: (Profit, min, Home Office), dtype: float64

In [62]:
superstore.columns

MultiIndex([('Profit',      'max',    'Consumer'),
            ('Profit',      'max',   'Corporate'),
            ('Profit',      'max', 'Home Office'),
            ('Profit',      'min',    'Consumer'),
            ('Profit',      'min',   'Corporate'),
            ('Profit',      'min', 'Home Office'),
            ( 'Sales', '<lambda>',    'Consumer'),
            ( 'Sales', '<lambda>',   'Corporate'),
            ( 'Sales', '<lambda>', 'Home Office')],
           names=[None, None, 'Segment'])

In [64]:
condition = superstore[('Profit',      'max',    'Consumer')]>1000
superstore[condition]

                            Profit                                    \
                               max                               min
Segment                   Consumer  Corporate Home Office   Consumer
Category        Region
Office Supplies Central  4946.3700   793.7160   1906.4850 -3701.8928
                East     1453.1238   843.1706   1415.4296 -1049.3406
                South    3177.4750  1276.4871    635.4950 -1237.8462
                West     1061.5722  1906.4850   1644.2913  -694.2936
Technology      East     5039.9856  2365.9818   3919.9888 -6599.9780
                South    2799.9840  1459.2000    257.9871  -944.9946
                West     6719.9808  1480.4671   1379.9770  -251.9874

                                                    Sales            \
                                                 <lambda>
Segment                  Corporate Home Office   Consumer Corporate
Category        Region
Office Supplies Central -2929.4845  -1143.8910   9892.296  4163.494
                East     -407.9760   -760.9800   4662.884  2933.142
                South   -1031.5385  -1306.5504   6353.606  4162.883
                West     -459.9875    -95.8230   8186.570  5082.772
Technology      East     -950.4000   -374.9925  10492.090  9096.960
                South   -3839.9904  -1811.0784   8748.366  7997.604
                West     -386.9570  -3399.9800  13994.400  4792.824



Segment                 Home Office
Category        Region
Office Supplies Central    3811.562
                East       4353.528
                South      1630.372
                West       4534.568
Technology      East      11196.998
                South     22620.480
                West       4157.922